.kupayBuy {
    display: block !important;
    border: 1px solid;
    text-align: center;
    background-color: #122143;
    color: #FFF;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.kupayBuyPdp {
    margin-bottom: 10px !important;
    margin-top: 30px !important;
}

.kupayBuyCart {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.kupayBuyCheckout {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}