@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");

.kupay-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  text-align: center;
  background-color: #122143;
  color: #fff;
  padding: 8px 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 20px auto;
  min-width: 200px;
}
.kupay-buy svg {
  width: 24px;
  margin-right: 8px;
}

.kupay-buy-disabled {
  background-color: #48587c !important;
}

/*.kupay-buy:before{*/
/*    content: '';*/
/*    background:url('https://www.kupay.co/favicon.ico');*/
/*    background-size: 20px 20px;*/
/*    position:absolute;*/
/*    width:20px;*/
/*    height:20px;*/
/*    margin-top: 2px;*/
/*    margin-left:-30px;*/

/*}*/

/* MODAL */
.kupay-modal {
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: 50%;
  max-width: 90%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: left;
  height: 98vh;
  z-index: 99999;
  opacity: 0;
  padding: 24px 0 6px 0;
}
.show {
  opacity: 1 !important;
  visibility: visible !important;
  animation: fade 0.3s !important;
  -webkit-animation: fade 0.3s !important;
}
.kupay-modal iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.kupay-overlay {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 79999;
  width: 100%;
  height: 100%;
}
#kupay-close-modal {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 0px;
  padding: 0 10px;
  font-size: 1.5em;
  color: #000;
  background-color: transparent;
  border: 0;
}
#kupay-close-modal:hover {
  background-color: rgba(255, 255, 255, 0.103);
  color: #fff;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .kupay-modal {
    width: 550px;
  }
}
/* MODAL */

/* TOOLTIP */
.kupay-tooltip {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  color: #000;
  font-size: 12px;
  font-weight: 400;
  padding: 8px;
  text-align: center;
  z-index: 99999;
  width: 65%;
  position: relative;
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}
.kupay-tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 5%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  backdrop-filter: shadow(0 0 4px rgba(0, 0, 0, 0.2));
}
